.coin-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.coin-item {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 12px;
}
.coin-item_logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.coin-item_info {
  display: flex;
  gap: 12px;
}
.coin-item_price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
}
