.filter-block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 12px;
  gap: 12px;
}
.input {
  padding: 10px 15px;
  background-color: white;
  border-radius: 12px;
  border: none;
}
